@import url("reset.css");
.member-info-box {
  height: 140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}
.member-info-box .profile-wrap {
  position: relative;
  width: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.member-info-box .profile-wrap::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 36px;
  right: 0;
  border: 1.25px solid #FFFFFF;
  background: #626969;
}
.member-info-box .profile-wrap.on::after {
  background: #38BEA9;
}
.member-info-box .profile-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member-info-box .profile-detail li:first-child {
  font-size: 14px;
  margin-bottom: 4px;
}
.member-info-box .profile-detail li:first-child .member-name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.member-info-box .message-wrap {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-icon-32 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon-24 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-full {
  background-image: url(../img/ic_full.svg);
}

.btn-close {
  background-image: url(../img/ic_close.svg);
}

.btn-search {
  background-image: url(../img/ic_search.svg);
}

.ic-search-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_search.svg);
}

.ic-message-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_message.svg);
}

.ic-members {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-details-arrow {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-msg {
  width: 24px;
  height: 24px;
  content: url(../img/ic_mail.svg);
}

.img-person {
  width: 48px;
  height: 48px;
  content: url(../img/img_person.svg);
}