@import url("reset.css");
.hide {
  display: none !important;
}

.scroll-on {
  overflow: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-right: 0 !important;
}
.scroll-on::-webkit-scrollbar {
  width: 4px;
  display: inline;
}
.scroll-on::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-on::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 100px;
  background: #D9D9D9;
}
.scroll-on::-webkit-scrollbar {
  height: 6px;
  display: inline;
}
.scroll-on::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-on::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 100px;
  background: #D9D9D9;
}

.bottom-line-none {
  border-bottom: none !important;
}

.bottom-line {
  border-bottom: 1px solid #D2D3D4;
}

.flex-none {
  flex: none !important;
}

.search-word {
  color: #6D24E3;
  font-weight: 700;
}

.search-no-data {
  flex: 1;
  color: #626969;
  padding: 0 20px;
  margin-top: 10px;
}

.detail-no-data {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.breadcrumbs {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #626969;
}
.breadcrumbs .cur-loc {
  font-weight: 700;
  color: #6D24E3;
}

.member-info-box {
  height: 140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}
.member-info-box .profile-wrap {
  position: relative;
  width: 48px;
  min-width: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.member-info-box .profile-wrap::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 36px;
  right: 0;
  border: 1.25px solid #FFFFFF;
  background: #626969;
}
.member-info-box .profile-wrap.on::after {
  background: #38BEA9;
}
.member-info-box .profile-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member-info-box .profile-detail li {
  white-space: nowrap;
}
.member-info-box .profile-detail li:first-child {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  font-size: 14px;
  margin-bottom: 4px;
}
.member-info-box .profile-detail li:first-child .member-name {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.member-info-box .message-wrap {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.member-info-box.location {
  background: #6D24E3;
  color: #fff;
}
.member-info-box.location .profile-detail li .member-name {
  color: #fff;
}
.member-info-box.location .profile-detail li .member-name .search-word {
  color: #fff;
}
.member-info-box.location .message-wrap img.ic-msg {
  content: url(../img/ic_mail_wh.svg);
}

.last-depth li {
  display: flex;
  align-items: center;
}

.btn-icon-32 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon-24 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon-40 {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-full {
  background-image: url(../img/ic_full.svg);
}

.btn-close {
  background-image: url(../img/ic_close.svg);
}

.btn-search {
  background-image: url(../img/ic_search.svg);
  background-size: cover;
}

.btn-home {
  background-image: url(../img/ic_home.svg);
}

.btn-mo-menu {
  background-image: url(../img/ic_mo_menu.svg);
}

.btn-back {
  background-image: url(../img/ic_top_backwards.svg);
  background-size: contain;
}

.ic-search-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_search.svg);
}

.ic-message-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_message.svg);
}

.ic-members {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-details-arrow {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-msg {
  width: 24px;
  height: 24px;
  content: url(../img/ic_mail.svg);
}

.ic-msg-40 {
  content: url(../img/ic_mail_40.svg);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-person {
  width: 48px;
  height: 48px;
  content: url(../img/img_person.svg);
}

.img-person-33 {
  width: 33px;
  height: 33px;
  content: url(../img/img_person_33.svg);
}

.img-person-80 {
  width: 80px;
  height: 80px;
  content: url(../img/img_person_80.png);
}

.img-person-100 {
  width: 100px;
  height: 100px;
  content: url(../img/img_person_100.png);
}

.img-person-160 {
  width: 160px;
  height: 160px;
  content: url(../img/img_person_160.png);
}

.img-person-200 {
  width: 200px;
  height: 200px;
  content: url(../img/img_person_200.png);
}