@charset "UTF-8";

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: "Pretendard", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  line-height: inherit;
  font-size: 16px;
  height: 100%;
}

ol, ul, summary {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: initial;
  background-color: transparent;
}

button,
select {
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

input:focus,
select:focus {
  outline: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

button,
[role=button] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

input[type=text], input[type=password] {
  border: inherit;
  outline: none;
}

input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder {
  font-size: inherit;
  letter-spacing: -0.35px;
  text-align: left;
  color: #D2D3D4;
}

input[type=text]::placeholder, input[type=password]::placeholder {
  font-size: inherit;
  letter-spacing: -0.35px;
  text-align: left;
  color: #D2D3D4;
}

input[type=radio] {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Normalize */
body {
  font-family: "Pretendard", sans-serif;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* white-space: nowrap; */
}

body:has(.layout-wrap) {
  background: #B2B2B2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.scroll-on {
  overflow: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-right: 0 !important;
}
.scroll-on::-webkit-scrollbar {
  width: 4px;
  display: inline;
}
.scroll-on::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-on::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 100px;
  background: #D9D9D9;
}
.scroll-on::-webkit-scrollbar {
  height: 6px;
  display: inline;
}
.scroll-on::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-on::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 100px;
  background: #D9D9D9;
}

.bottom-line-none {
  border-bottom: none !important;
}

.bottom-line {
  border-bottom: 1px solid #D2D3D4;
}

.flex-none {
  flex: none !important;
}

.search-word {
  color: #6D24E3;
  font-weight: 700;
}

.search-no-data {
  flex: 1;
  color: #626969;
  padding: 0 20px;
  margin-top: 10px;
}

.detail-no-data {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.breadcrumbs {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #626969;
}
.breadcrumbs .cur-loc {
  font-weight: 700;
  color: #6D24E3;
}

.member-info-box {
  height: 140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}
.member-info-box .profile-wrap {
  position: relative;
  width: 48px;
  min-width: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.member-info-box .profile-wrap::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 36px;
  right: 0;
  border: 1.25px solid #FFFFFF;
  background: #626969;
}
.member-info-box .profile-wrap.on::after {
  background: #38BEA9;
}
.member-info-box .profile-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member-info-box .profile-detail li {
  white-space: nowrap;
}
.member-info-box .profile-detail li:first-child {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  font-size: 14px;
  margin-bottom: 4px;
}
.member-info-box .profile-detail li:first-child .member-name {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.member-info-box .message-wrap {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.member-info-box.location {
  background: #6D24E3;
  color: #fff;
}
.member-info-box.location .profile-detail li .member-name {
  color: #fff;
}
.member-info-box.location .profile-detail li .member-name .search-word {
  color: #fff;
}
.member-info-box.location .message-wrap img.ic-msg {
  content: url(../img/ic_mail_wh.svg);
}

.last-depth li {
  display: flex;
  align-items: center;
}

.btn-icon-32 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon-24 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon-40 {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-full {
  background-image: url(../img/ic_full.svg);
}

.btn-close {
  background-image: url(../img/ic_close.svg);
}

.btn-search {
  background-image: url(../img/ic_search.svg);
  background-size: cover;
}

.btn-home {
  background-image: url(../img/ic_home.svg);
}

.btn-mo-menu {
  background-image: url(../img/ic_mo_menu.svg);
}

.btn-back {
  background-image: url(../img/ic_top_backwards.svg);
  background-size: contain;
}

.ic-search-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_search.svg);
}

.ic-message-24 {
  width: 24px;
  height: 24px;
  background: url(../img/ic_message.svg);
}

.ic-members {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-details-arrow {
  width: 16px;
  height: 16px;
  background: url(../img/ic_members.svg);
}

.ic-msg {
  width: 24px;
  height: 24px;
  content: url(../img/ic_mail.svg);
}

.ic-msg-40 {
  content: url(../img/ic_mail_40.svg);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-person {
  width: 48px;
  height: 48px;
  content: url(../img/img_person.svg);
}

.img-person-33 {
  width: 33px;
  height: 33px;
  content: url(../img/img_person_33.svg);
}

.img-person-80 {
  width: 80px;
  height: 80px;
  content: url(../img/img_person_80.png);
}

.img-person-100 {
  width: 100px;
  height: 100px;
  content: url(../img/img_person_100.png);
}

.img-person-160 {
  width: 160px;
  height: 160px;
  content: url(../img/img_person_160.png);
}

.img-person-200 {
  width: 200px;
  height: 200px;
  content: url(../img/img_person_200.png);
}

.layout-wrap {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 740px;
  max-width: 900px;
  max-height: 740px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1490196078);
}
.layout-wrap.full {
  width: 100vw;
  height: 100vh;
  max-width: initial;
  max-height: initial;
  box-shadow: none;
}
.layout-wrap.full .btn-full {
  background-image: url(../img/ic_reduce.svg);
}
.layout-wrap.full .org-all-wrap {
  max-height: calc(100vh - 121px);
}

.header-wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D2D3D4;
  font-size: 20px;
}
.header-wrap .hd-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-weight: 700;
}
.header-wrap .hd-top .group-btn {
  display: flex;
  gap: 10px;
}
.header-wrap .hd-top input {
  flex: 1;
}
.header-wrap .search-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
}
.header-wrap .search-bar input[type=text] {
  flex: 1;
}

.org-all-wrap {
  flex: 1;
  display: flex;
  max-height: 620px;
}
.org-all-wrap .org-tree-wrap {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D2D3D4;
  height: 100%;
  padding: 10px 0;
  padding-right: 4px;
}
.org-all-wrap .org-tree-wrap .company-name {
  font-weight: 700;
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.org-all-wrap .org-tree-wrap .company-name span {
  color: #6D24E3;
}
.org-all-wrap .org-tree-wrap .org-tree-box {
  flex: 1;
  overflow: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  color: #626969;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar {
  width: 4px;
  display: inline;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar-track {
  background: transparent;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 100px;
  background: #D9D9D9;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar {
  height: 6px;
  display: inline;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar-track {
  background: transparent;
}
.org-all-wrap .org-tree-wrap .org-tree-box::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 100px;
  background: #D9D9D9;
}
.org-all-wrap .org-tree-wrap .org-tree-box summary {
  display: block; /* 그 외의 브라우저용 사용자 정의 스타일 */
}
.org-all-wrap .org-tree-wrap .org-tree-box summary {
  position: relative;
  cursor: pointer;
}
.org-all-wrap .org-tree-wrap .org-tree-box summary::before {
  content: url(../img/ic_arr_tree.svg);
  position: absolute;
  top: 8px;
  left: 0;
  transition: 0.25s transform;
  -o-object-fit: contain;
     object-fit: contain;
}
.org-all-wrap .org-tree-wrap .org-tree-box details[open] > summary:before {
  top: 6px;
  transform: rotateZ(90deg);
}
.org-all-wrap .org-tree-wrap .org-tree-box details.sel > summary .org-name {
  font-weight: 700;
  color: #313139;
}
.org-all-wrap .org-tree-wrap .org-tree-box details.sel > summary .org-name span {
  font-weight: 400;
}
.org-all-wrap .org-tree-wrap .org-tree-box details.sel > summary::before {
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(1048%) hue-rotate(202deg) brightness(95%) contrast(92%);
}
.org-all-wrap .org-tree-wrap .org-tree-box summary.location .org-name {
  font-weight: 700;
  background: #6D24E3;
  color: #fff !important;
}
.org-all-wrap .org-tree-wrap .org-tree-box summary.location .org-name span {
  font-weight: 400;
}
.org-all-wrap .org-tree-wrap .org-tree-box summary.location .org-name .search-word {
  color: #fff;
}
.org-all-wrap .org-tree-wrap .org-tree-box summary.location::before {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%) !important;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 > summary::before {
  left: 20px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 > summary > .org-name {
  padding-left: 46px;
  height: 40px;
  display: flex;
  align-items: center;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 > .last-depth li {
  padding-left: 72px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > summary::before {
  left: 46px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > summary > .org-name {
  padding-left: 72px;
  height: 40px;
  display: flex;
  align-items: center;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > .last-depth li {
  padding-left: 98px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 > summary::before {
  left: 72px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 > summary > .org-name {
  padding-left: 98px;
  height: 40px;
  display: flex;
  align-items: center;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 .last-depth li {
  padding-left: 98px;
  height: 40px;
  display: flex;
  align-items: center;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li {
  cursor: pointer;
  width: 100%;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li::before {
  content: url(../img/ic_members.svg);
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  padding-top: 4px;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location {
  font-weight: 700;
  background: #6D24E3;
  color: #fff !important;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location span {
  font-weight: 400;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location::before {
  content: url(../img/ic_members_wh.svg);
  -o-object-fit: contain;
     object-fit: contain;
}
.org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location .search-word {
  color: #fff;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-name {
  display: flex;
  white-space: nowrap;
}
.org-all-wrap .org-tree-wrap .org-tree-box .org-name span.cnt {
  margin-left: 10px;
  color: #D2D3D4;
}
.org-all-wrap .org-tree-wrap .result-title {
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #6D24E3;
  font-weight: 700;
}
.org-all-wrap .org-tree-wrap .search-dept-wrap {
  margin-bottom: 20px;
}
.org-all-wrap .org-tree-wrap .search-member-wrap .member-info-box {
  cursor: pointer;
  padding: 20px;
}
.org-all-wrap .org-detail-wrap {
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow: auto;
  padding: 10px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #626969;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar {
  width: 4px;
  display: inline;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar-track {
  background: transparent;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 100px;
  background: #D9D9D9;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar {
  height: 6px;
  display: inline;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar-track {
  background: transparent;
}
.org-all-wrap .org-detail-wrap::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 100px;
  background: #D9D9D9;
}
.org-all-wrap .org-detail-wrap .member-wrap {
  display: flex;
  flex-direction: column;
}
.org-all-wrap .org-detail-wrap .member-wrap summary {
  display: block; /* 그 외의 브라우저용 사용자 정의 스타일 */
}
.org-all-wrap .org-detail-wrap .member-wrap summary {
  position: relative;
  cursor: pointer;
}
.org-all-wrap .org-detail-wrap .member-wrap summary::before {
  content: url(../img/ic_mem_arr_down.svg);
  position: absolute;
  bottom: 8px;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.25s transform;
}
.org-all-wrap .org-detail-wrap .member-wrap details[open] > summary:before {
  bottom: 6px;
  content: url(../img/ic_mem_arr_up.svg);
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info {
  border-bottom: 0.63px solid #EEEEEE;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail {
  padding: 20px;
  background: #FCFCFC;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li {
  display: flex;
  height: 23px;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:first-child {
  gap: 5px;
  margin-bottom: 8.5px;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:not(:first-child, :last-child) {
  margin-bottom: 17px;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li .title {
  width: 78px;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li::before {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(2)::before {
  content: url(../img/ic_position.svg);
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(3)::before {
  content: url(../img/ic_rank.svg);
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(4)::before {
  content: url(../img/ic_tel.svg);
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(5)::before {
  content: url(../img/ic_birth.svg);
}
.org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(6)::before {
  content: url(../img/ic_charge.svg);
}
.org-all-wrap .org-detail-wrap .team-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.org-all-wrap .org-detail-wrap .team-wrap li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}
.org-all-wrap .org-detail-wrap .team-wrap li span.cnt {
  color: #D2D3D4;
}

@media (max-width: 767px) {
  body:has(.layout-wrap) {
    background: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }
  .btn-search {
    width: 40px;
    height: 40px;
  }
  .breadcrumbs {
    font-size: 22px;
  }
  .member-info-box {
    cursor: default;
    padding: 20px;
    height: 178px;
    border-bottom: 1px solid #EEEEEE;
  }
  .member-info-box .profile-wrap {
    position: relative;
    width: 80px;
    min-width: 80px;
  }
  .member-info-box .profile-wrap::after {
    width: 24px;
    height: 24px;
    top: 56px;
  }
  .member-info-box .profile-detail li {
    line-height: 1.5;
    font-size: 20px;
    color: #626969;
  }
  .member-info-box .profile-detail li:first-child {
    gap: 10px;
    font-size: 20px;
  }
  .member-info-box .profile-detail li:first-child .member-name {
    font-size: 26px;
  }
  .member-info-box .message-wrap {
    width: 40px;
  }
  .member-info-box.location .profile-detail li {
    color: #fff;
  }
  .member-info-box.location .message-wrap img.ic-msg-40 {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    content: url(../img/ic_mail_wh.svg);
  }
  .member-info-box.small {
    height: 140px;
  }
  .member-info-box.large {
    padding: 40px;
    height: 418px;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  .member-info-box.large .profile-wrap {
    width: 160px;
    min-width: 160px;
  }
  .member-info-box.large .profile-wrap::after {
    content: url(../img/ic_mail_29.svg);
    position: absolute;
    width: 48px;
    height: 48px;
    top: auto;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
  }
  .member-info-box.large .profile-detail {
    align-items: center;
  }
  .member-info-box.large .profile-detail li {
    font-size: 24px;
    margin-bottom: 0 !important;
    color: #626969;
    line-height: 34.75px;
  }
  .member-info-box.large .profile-detail li .member-name {
    font-size: 30px;
    line-height: 43.44px;
    margin-bottom: 10px;
  }
  .layout-wrap {
    width: 100vw;
    min-height: 100%;
    box-shadow: none;
    flex: 1;
  }
  .layout-wrap .header-wrap .hd-top {
    height: 80px;
  }
  .layout-wrap .header-wrap .hd-top:has(input) {
    border-bottom: 1px solid #D2D3D4;
  }
  .layout-wrap .header-wrap .hd-top:has(input) input {
    min-width: calc(100% - 140px);
    border-bottom: none;
    font-size: 26px;
    margin-left: 10px;
  }
  .layout-wrap .header-wrap .hd-top .title {
    font-size: 26px;
    display: flex;
    gap: 10px;
  }
  .layout-wrap .header-wrap .hd-top .title .cnt {
    font-weight: 400;
    color: #626969;
  }
  .layout-wrap .header-wrap .search-bar {
    height: 80px;
  }
  .layout-wrap .header-wrap .search-bar input {
    width: 100%;
    font-size: 24px;
  }
  .layout-wrap .header-wrap .search-bar .result-title {
    font-size: 26px;
    font-weight: 700;
  }
  .layout-wrap .header-wrap .search-bar .result-title span.cnt {
    color: #6D24E3;
  }
  .layout-wrap .org-all-wrap {
    font-size: 26px;
    flex-direction: column;
    max-height: initial;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap {
    flex: 1;
    width: 100%;
    border-right: none;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .company-name {
    height: 80px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box summary::before {
    content: url(../img/ic_arr_tree_28.svg);
    top: 25px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box details[open] > summary:before {
    top: 20px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 > summary > .org-name {
    padding-left: 58px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 > .last-depth li {
    padding-left: 58px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > summary::before {
    left: 58px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > summary > .org-name {
    padding-left: 95px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 > .last-depth li {
    padding-left: 95px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 > summary::before {
    left: 95px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 > summary > .org-name {
    padding-left: 133px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .org-depth1 .org-depth2 .org-depth3 .last-depth li {
    padding-left: 133px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .last-depth li::before {
    content: url(../img/ic_members_28.svg);
    padding-top: 7.5px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location span {
    font-weight: 400;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-tree-box .last-depth li.location::before {
    content: url(../img/ic_members_wh_28.svg);
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .org-name {
    height: 80px !important;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .result-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .layout-wrap .org-all-wrap .org-tree-wrap .search-dept-wrap {
    padding: 20px 0;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap {
    padding: 0;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail {
    padding-top: 10px;
    background: #fff;
    font-size: 24px;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li {
    height: 60px;
    align-items: center;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:first-child {
    gap: 5px;
    margin-bottom: 10px;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:first-child span {
    color: #6D24E3;
    font-weight: 700;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:not(:first-child, :last-child) {
    margin-bottom: 0;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li .title {
    width: 136px;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li::before {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(2)::before {
    content: url(../img/ic_position_32.svg);
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(3)::before {
    content: url(../img/ic_rank_32.svg);
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(4)::before {
    content: url(../img/ic_tel_32.svg);
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(5)::before {
    content: url(../img/ic_birth_32.svg);
  }
  .layout-wrap .org-all-wrap .org-detail-wrap .member-wrap .member-info .member-detail li:nth-child(6)::before {
    content: url(../img/ic_charge_32.svg);
  }
  .layout-wrap .org-all-wrap:has(.search-no-data) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout-wrap .org-all-wrap:has(.search-no-data) .search-no-data {
    font-size: 24px;
    flex: none;
  }
}