@import "func";
@import url("reset.css");


.hide {display: none !important;}
.scroll-on {
  overflow: auto;
  @include scrollbar('V');
  @include scrollbar('H');
  padding-right: 0 !important;
}
.bottom-line-none {
  border-bottom: none !important;
}
.bottom-line {
  border-bottom: 1px solid $cl_text_dis;
}
.flex-none {
  flex: none !important;
}
.search-word {
  color: $cl_main;
  font-weight: 700;
}
.search-no-data {
  flex: 1;
  color: $cl_text_2;
  padding: 0 20px;
  margin-top: 10px;
}
.detail-no-data {
  flex: 1;
  @include flex_center;
  flex-direction: column;
  gap: 25px;
}
.breadcrumbs {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: $cl_text_2;
  .cur-loc {
    font-weight: 700;
    color: $cl_main;
  }
}
.member-info-box {
  height: 140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;  
  .profile-wrap {
    position: relative;
    width: 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 36px;
      right: 0;
      border: 1.25px solid #FFFFFF;
      background: $cl_text_2;
    }
    &.on::after {
      background: #38BEA9;
    }
  }
  .profile-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
      white-space: nowrap;
      &:first-child {
        display: flex;
        gap: 4px;
        align-items: flex-end;
        font-size: 14px;
        margin-bottom: 4px;
        .member-name {
          display: flex;
          font-size: 16px;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
  .message-wrap {
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  &.location {
    background: $cl_main;
    color: #fff;
    .profile-detail li .member-name {
      color: #fff;
      .search-word {color: #fff;}
    }
    .message-wrap {
      img.ic-msg {
        content: url(#{$imgPath}ic_mail_wh.svg);
      }
    }
  }
}
.last-depth {
  li {
    display: flex;
    align-items: center;
  }
}
.btn-icon-32 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-icon-24 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-icon-40 {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-full {
  background-image: url(#{$imgPath}ic_full.svg);
}
.btn-close {
  background-image: url(#{$imgPath}ic_close.svg);
}
.btn-search {
  background-image: url(#{$imgPath}ic_search.svg);
  background-size: cover;
}
.btn-home {
  background-image: url(#{$imgPath}ic_home.svg);
  // background-size: cover;
}
.btn-mo-menu {
  background-image: url(#{$imgPath}ic_mo_menu.svg);
}
.btn-back {
  background-image: url(#{$imgPath}ic_top_backwards.svg);
  background-size: contain;
}

// image, icon 
.ic-search-24 {
  width: 24px;
  height: 24px;
  background: url(#{$imgPath}ic_search.svg);
}
.ic-message-24 {
  width: 24px;
  height: 24px;
  background: url(#{$imgPath}ic_message.svg);
}
.ic-members {
  width: 16px;
  height: 16px;
  background: url(#{$imgPath}ic_members.svg);
}
.ic-details-arrow {
  width: 16px;
  height: 16px;
  background: url(#{$imgPath}ic_members.svg);
}


.ic-msg {
  width: 24px;
  height: 24px;
  content: url(#{$imgPath}ic_mail.svg);
}
.ic-msg-40 {
  content: url(#{$imgPath}ic_mail_40.svg);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-person {
  width: 48px;
  height: 48px;
  content: url(#{$imgPath}img_person.svg);
}
.img-person-33 {
  width: 33px;
  height: 33px;
  content: url(#{$imgPath}img_person_33.svg);
}
.img-person-80 {
  width: 80px;
  height: 80px;
  content: url(#{$imgPath}img_person_80.png);
}
.img-person-100 {
  width: 100px;
  height: 100px;
  content: url(#{$imgPath}img_person_100.png);
}
.img-person-200 {
  width: 200px;
  height: 200px;
  content: url(#{$imgPath}img_person_200.png);
}
