@import "func";
@import url("reset.css");
@import url("common.css");

body:has(.layout-wrap) {
  background: #B2B2B2;
  @include flex_center;
}

.layout-wrap {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 740px;
  max-width: 900px;
  max-height: 740px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px #00000026;

  &.full {
    width: 100vw;
    height: 100vh;
    max-width: initial;
    max-height: initial;
    box-shadow: none;

    .btn-full {
      background-image: url(#{$imgPath}ic_reduce.svg);
    }
    .org-all-wrap {
      max-height: calc(100vh - 121px);
    }
  }
}

.header-wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $cl_text_dis;
  font-size: 20px;
  .hd-top {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-weight: 700;

    .group-btn {
      display: flex;
      gap: 10px;
    }
    input {
      flex: 1;
    }
  }
  .search-bar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    input[type="text"] {flex: 1;}
  }
}

.org-all-wrap {
  flex: 1;
  display: flex;
  max-height: 620px;
  .org-tree-wrap {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $cl_text_dis;
    height: 100%;
    padding: 10px 0;
    padding-right: 4px;
    .company-name {
      font-weight: 700;
      height: 40px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        color: $cl_main;
      }
    }
    .org-tree-box {
      flex: 1;
      overflow: auto;
      @include scrollbar("V");
      @include scrollbar("H");
      @include details_tree_arrow;
      color: $cl_text_2;

      details.sel {
        & > summary {
          .org-name {
            font-weight: 700;
            color: $cl_text_1;
            span {font-weight: 400;}
          }
          &::before {
            filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(1048%) hue-rotate(202deg) brightness(95%) contrast(92%);
          }
        }
      }
        summary.location {
          .org-name {
            font-weight: 700;
            // width: 300px;
            // height: 40px;
            background: $cl_main;
            color: #fff !important;
            span {font-weight: 400;}
            .search-word {color: #fff;}
          }
          &::before {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%) !important;
          }
        }
      .org-depth1 {
        min-width: fit-content;
        & > summary {
          &::before {
            left: 20px;
          }
          & > .org-name {
            padding-left: 46px;
            height: 40px;
            display: flex;
            align-items: center;
          }
        }

        & > .last-depth {
          li {
            padding-left: 72px;
          }
        }

        .org-depth2 {
          & > summary {
            &::before {
              left: 46px;
            }
            & > .org-name {
              padding-left: 72px;
              height: 40px;
              display: flex;
              align-items: center;
            }
          } 

          & > .last-depth {
            li {
              padding-left: 98px;
            }
          }

          .org-depth3 {
            & > summary {
              &::before {
                left: 72px;
              }
              & > .org-name {
                padding-left: 98px;
                height: 40px;
                display: flex;
                align-items: center;
              }
            } 

            .last-depth {
              li {
                padding-left: 98px;
                height: 40px;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
      .last-depth {
        li {
          cursor: pointer;
          width: 100%;
          &::before {
            content: url(#{$imgPath}ic_members.svg);
            object-fit: contain;
            margin-right: 10px;
            padding-top: 4px;
          }
          &.location {
            font-weight: 700;
            background: $cl_main;
            color: #fff !important;
            span {font-weight: 400;}
            &::before {
              content: url(#{$imgPath}ic_members_wh.svg);
              object-fit: contain;
            }
            .search-word {color: #fff;}
          }
        }
      }
      .org-name{
        display: flex;        
        white-space: nowrap;
        span.cnt {
          margin-left: 10px;
          color: $cl_text_dis;
        }
      }
    }

    // search page
    .result-title {
      height: 40px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      color: $cl_main;
      font-weight: 700;
    }
    .search-dept-wrap {
      margin-bottom: 20px;
    }
    .search-member-wrap {
      .member-info-box {
        cursor: pointer;
        padding: 20px;        
      }
    }
  }
  .org-detail-wrap {
    @include scrollbar("V");
    @include scrollbar("H");
    overflow: auto;
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $cl_text_2;

    .member-wrap {
      display: flex;
      flex-direction: column;      
      @include details_member_arrow;
      .member-info {
        border-bottom: 0.63px solid #EEEEEE;
        .member-detail {
          padding: 20px;
          background: #FCFCFC;
          li {
            display: flex;
            height: 23px;            
            &:first-child {
              gap: 5px;
              margin-bottom: 8.5px;
            }
            &:not(:first-child,:last-child) {
              margin-bottom: 17px;
            }
            .title {
              width: 78px;
            }
            &::before {
              width: 16px;
              height: 16px;
              margin-right: 8px;
            }
            &:nth-child(2)::before {
              content: url(#{$imgPath}ic_position.svg);
            } 
            &:nth-child(3)::before {
              content: url(#{$imgPath}ic_rank.svg);             
            } 
            &:nth-child(4)::before {
              content: url(#{$imgPath}ic_tel.svg);             
            } 
            &:nth-child(5)::before {
              content: url(#{$imgPath}ic_birth.svg);             
            } 
            &:nth-child(6)::before {
              content: url(#{$imgPath}ic_charge.svg);             
            } 
          }
        }
      }
    }
    .team-wrap {
      display: flex;
      flex-direction: column;
      padding: 20px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
        span.cnt {
          color: $cl_text_dis;
        }
      }
    }
  }
}


@include mobile {

  body:has(.layout-wrap) {
    background: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }

  
  
  .btn-search {
    width: 40px;
    height: 40px;
  }

  .breadcrumbs {
    font-size: 22px;
  }
  
  .member-info-box {
    cursor: default;
    padding: 20px;
    height: 178px;
    border-bottom: 1px solid #EEEEEE;
    .profile-wrap {
      position: relative;
      width: 80px;
      min-width: 80px;
      &::after {
        width: 24px;
        height: 24px;
        top: 56px;
      }
    }
    .profile-detail {     
      li {
        line-height: 1.5;
        font-size: 20px;
        color: $cl_text_2;
        &:first-child {
          gap: 10px;
          font-size: 20px;
          .member-name {
            font-size: 26px;
          }
        }
      }
    }
    .message-wrap {
      width: 40px;
    }
    
    &.location {
      .profile-detail {     
        li {
          color: #fff;
        }
      }
      .message-wrap {
        img.ic-msg-40 {
          width: 40px;
          height: 40px;
          object-fit: cover;
          content: url(#{$imgPath}ic_mail_wh.svg);
        }
      }
    }

    &.small {
      height: 140px;
    }

    &.large {
      padding: 40px;
      height: 418px;
      flex-direction: column; 
      align-items: center;
      font-size: 24px;
      .profile-wrap {
        width: 160px;
        min-width: 160px;
        &::after {
          content: url(#{$imgPath}ic_mail_29.svg);
          position: absolute;
          width: 48px;
          height: 48px;
          top: auto;
          bottom: 0;
          background: #fff;
          @include flex_center;
          padding-top: 6px;
        }
      }
      .profile-detail {
        // gap: 10px;
        align-items: center;
        li {
          font-size: 24px;
          margin-bottom: 0 !important;
          color: $cl_text_2;
          line-height: 34.75px;
          .member-name {
            font-size: 30px;
            line-height: 43.44px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .layout-wrap {
    width: 100vw;
    min-height: 100%;
    box-shadow: none;
    flex: 1;

    .header-wrap {
      .hd-top {
        height: 80px;
        &:has(input) {
          border-bottom: 1px solid $cl_text_dis;
          input {
            min-width: calc(100% - 140px);
            border-bottom: none;
            font-size: 26px;
            margin-left: 10px;
          }
        }
        .title {
          font-size: 26px;
          display: flex;
          gap: 10px;
          .cnt {
            font-weight: 400;
            color: $cl_text_2;
          }
        }
      }
      .search-bar {
        height: 80px;
        input {
          width: 100%;
          font-size: 24px;
        }

        .result-title {
          font-size: 26px;
          font-weight: 700;
          span.cnt {
            color: $cl_main;
          }
        }
      }
    }
    .org-all-wrap {
      font-size: 26px;
      flex-direction: column;
      max-height: initial;
      .org-tree-wrap {
        flex: 1;
        width: 100%;
        border-right: none;
        .company-name {
          height: 80px;          
        }
        .org-tree-box {
          summary::before {
            content: url(#{$imgPath}ic_arr_tree_28.svg);
            top: 25px;
          }
          details[open] > summary:before {
            top: 20px;
          }
          .org-depth1 {
            & > summary {              
              & > .org-name {
                padding-left: 58px;
              }
            }
    
            & > .last-depth {
              li {
                padding-left: 58px;
              }
            }

            .org-depth2 {
              & > summary {
                &::before {
                  left: 58px;
                }
                & > .org-name {
                  padding-left: 95px;
                }
              } 
    
              & > .last-depth {
                li {
                  padding-left: 95px;
                }
              }

              .org-depth3 {
                & > summary {
                  &::before {
                    left: 95px;
                  }
                  & > .org-name {
                    padding-left: 133px;
                  }
                } 
    
                .last-depth {
                  li {
                    padding-left: 133px;
                  }
                }
              }
            }
          }
          .last-depth {
            li {
              &::before {
                content: url(#{$imgPath}ic_members_28.svg);
                padding-top: 7.5px;
              }
              &.location {
                span {font-weight: 400;}
                &::before {
                  content: url(#{$imgPath}ic_members_wh_28.svg);
                }
              }
            }
          }
        }
        .org-name {
          height: 80px !important;
        }

        .result-title {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .search-dept-wrap {
          padding: 20px 0;
        }
      }
      .org-detail-wrap {
        padding: 0;

        .member-wrap {
          .member-info {
            .member-detail {
              padding-top: 10px;
              background: #fff;
              font-size: 24px;
              li {
                height: 60px; 
                align-items: center;           
                &:first-child {
                  gap: 5px;
                  margin-bottom: 10px;
                  span {
                    color: $cl_main;
                    font-weight: 700;
                  }
                }
                &:not(:first-child,:last-child) {
                  margin-bottom: 0;
                }
                .title {
                  width: 136px;
                }
                &::before {
                  width: 32px;
                  height: 32px;
                  margin-right: 12px;
                }
                &:nth-child(2)::before {
                  content: url(#{$imgPath}ic_position_32.svg);
                } 
                &:nth-child(3)::before {
                  content: url(#{$imgPath}ic_rank_32.svg);             
                } 
                &:nth-child(4)::before {
                  content: url(#{$imgPath}ic_tel_32.svg);             
                } 
                &:nth-child(5)::before {
                  content: url(#{$imgPath}ic_birth_32.svg);             
                } 
                &:nth-child(6)::before {
                  content: url(#{$imgPath}ic_charge_32.svg);             
                } 
              }
            }
          }
        }
      }

      &:has(.search-no-data) {
        @include flex_center;
        .search-no-data {
          font-size: 24px;
          flex: none;
        }
      }
    }
    
  }

  
}